In [2]:
# Localhost
# http://localhost:4040/ 

# Packages
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

import os
import sys
import pyspark
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, lit, col
from pyspark.sql.functions import explode
from pyspark.sql.functions import split
from pyspark.sql.functions import rank
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
from pyspark.sql.types import StructType,StructField 
from pyspark.sql.types import StringType, IntegerType, ArrayType
from pyspark.sql.types import StringType, ArrayType,StructType,StructField
from pyspark.sql.functions import regexp_replace


spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [5]:
# when()
data = [("James","M",60000),("Michael","M",70000),
        ("Robert",None,400000),("Maria","F",500000),
        ("Jen","",None)]
columns = ["name","gender","salary"]
df_when = spark.createDataFrame(data = data, schema = columns)
df_when.show()


# split()
data=data = [('James','','Smith','1991-04-01'),
  ('Michael','Rose','','2000-05-19'),
  ('Robert','','Williams','1978-09-05'),
  ('Maria','Anne','Jones','1967-12-01'),
  ('Jen','Mary','Brown','1980-02-17')]
columns=["firstname","middlename","lastname","dob"]
df_split = spark.createDataFrame(data,columns)
df_split.show()


# df_filter
data = [
    (("James","","Smith"),["Java","Scala","C++"],"OH","M","Male"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F","Female"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F","Male"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M","Female"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M","Male"),
    (("Mike","Mary","Williams"),["Python","VB"],"OH","M","Female")
 ]
        
schema = StructType([
     StructField('name', StructType([
        StructField('firstname', StringType(), True),
        StructField('middlename', StringType(), True),
         StructField('lastname', StringType(), True)
     ])),
     StructField('languages', ArrayType(StringType()), True),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True),
     StructField('gender2', StringType(), True)
 ])

df_filtering = spark.createDataFrame(data = data, schema = schema)
df_filtering.show()

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
|  James|     M| 60000|
|Michael|     M| 70000|
| Robert|  null|400000|
|  Maria|     F|500000|
|    Jen|      |  null|
+-------+------+------+

+---------+----------+--------+----------+
|firstname|middlename|lastname|       dob|
+---------+----------+--------+----------+
|    James|          |   Smith|1991-04-01|
|  Michael|      Rose|        |2000-05-19|
|   Robert|          |Williams|1978-09-05|
|    Maria|      Anne|   Jones|1967-12-01|
|      Jen|      Mary|   Brown|1980-02-17|
+---------+----------+--------+----------+

+--------------------+------------------+-----+------+-------+
|                name|         languages|state|gender|gender2|
+--------------------+------------------+-----+------+-------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|   Male|
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F| Female|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|   Male|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M| Female|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|   Male|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M| Female|
+--------------------+------------------+-----+------+-------+

In [7]:
TRANSFORMS = []

DATASETS = {
    "WHENING"   : df_when,
    "SPLITTING" : df_split,
    "FILTERING" : df_filtering,
    }

for table_name, table_location in list(DATASETS.items()):
    @transform_df(
        Output("PATH" + table_name),
        Input_table=Input(table_location),
    )

    def multi_output(Input_table, table_name=table_name):

        if table_name=="WHENING":
            output_table = Input_table.drop("salary")
        
        elif table_name=="SPLITTING":
            output_table== Input_table.drop("dob")
        
        elif table_name=="FILTERING":
            output_table = Input_table.drop("gender2")
        
        return output_table
    
    TRANSFORMS.append(multi_output)

NameError: name 'transform_df' is not defined